---
import Layout from "../layouts/Layout.astro";
import hero2 from "../assets/hero2.png";
import billede2 from "../assets/billede2.png";
import billede3 from "../assets/billede3.png";
---

<Layout>
  <div class="hero_grid">
    <img src="https://pleasant.dk/cdn/shop/files/circulation.jpg?crop=center&height=1000&v=1713365346&width=1000" alt="Billede af skjorter" />
    <img src={hero2.src} alt="Billede af tøj" />
  </div>
  <h1 class="upcycled">UPCYCLED</h1>
  <div class="tekst_grid">
    <p>Pleasant er et tøjmærke, der upcycler og laver nyt tøj af brugt tekstil.</p>
    <h2>CLOTHING BRAND</h2>
  </div>
  <section class="image-grid">
    <div class="item large">
      <img src="https://pleasant.dk/cdn/shop/files/Break_lowres-52_aac0ee96-d912-4d26-89ac-7fc21f42c8e5.jpg?v=1738606945&width=1200ß" alt="Stort billede" />
    </div>
    <div class="item small top">
      <img src={billede2.src} alt="Lille billede øverst" />
    </div>
    <div class="item small bottom">
      <img src={billede3.src} alt="Lille billede nederst" />
    </div>
  </section>
  <h1 class="overskrift_best">BEST <br />SELLERS</h1>
  <div class="best_sellers">
    <img src="https://pleasant.dk/cdn/shop/files/upcycledcaps_closeup9_main.jpg?v=1734015813&width=1600" />
    <img src="https://pleasant.dk/cdn/shop/files/upcycledcaps_closeup123_main.jpg?v=1734014267&width=1600" />
    <img src="https://pleasant.dk/cdn/shop/files/upcycledcaps_closeup60_main.jpg?v=1734093686&width=1200" />
  </div>
  <div class="hvorfor">
    <h2>Hvorfor vælge Pleasant?</h2>
    <p>Vi upcycler og laver nyt tøj af brugt tekstil. Dette har nogle enorme miljø fordele.</p>
    <p>Upcycling betyder, at tage et eksisterende produkt og lave det om til et nyt af højere værdi. Vi anvender genbrugte dynebetræk, gardiner og bordduge, der allerede været igennem en eller flere livscyklus, og laver dem om til nyt tøj.</p>
  </div>
  <div class="brugt_tekstil">
    <h1>NYT TØJ AF BRUGT TEKSTIL</h1>
    <img
      src="https://scontent-cph2-1.cdninstagram.com/v/t39.30808-6/471149632_18473118331047135_6766001851945403454_n.jpg?stp=dst-jpg_e35_tt6&cb=30a688f7-fa102a98&efg=eyJ2ZW5jb2RlX3RhZyI6IkNBUk9VU0VMX0lURU0uaW1hZ2VfdXJsZ2VuLjE0NDB4OTYxLnNkci5mMzA4MDguZGVmYXVsdF9pbWFnZSJ9&_nc_ht=scontent-cph2-1.cdninstagram.com&_nc_cat=103&_nc_oc=Q6cZ2QHeotBfLCL269raY5-AniWI1VEIcPWC4tocWoqhgyFLMES7Cx0BYRkGsmt2cY25cD8&_nc_ohc=WIyZkwDoDRgQ7kNvwH85RtD&_nc_gid=WRVnC1qy2mo1mFvHtiZITA&edm=APoiHPcAAAAA&ccb=7-5&ig_cache_key=MzQ0ODk3MjAyOTYzNTcxMTk3OQ%3D%3D.3-ccb7-5-cb30a688f7-fa102a98&oh=00_AfGgV4407X1ncIn-A6N-_w2TggZfyz-AsTzfsjMP-LwtLQ&oe=680D3C3F&_nc_sid=22de04"
      alt="Tøj på stativ"
    />
  </div>
</Layout>

<style>
  .hero_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
  }

  .hero_grid img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  .upcycled {
    padding-left: 2%;
    padding-bottom: 0%;
    color: #849865;
    font-size: 600%;
    font-family: "Anton";
    margin: 0%;
    margin-bottom: 0%;
    margin-top: -2%;
  }

  h1 {
    color: #849865;
    font-size: 400%;
    font-family: "Anton";
  }

  .tekst_grid {
    margin-top: -5%;
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    padding: 0%;
  }

  .tekst_grid p {
    font-family: "Inter";
    font-weight: 600;
    font-size: 80%;
  }

  .tekst_grid h2 {
    font-family: "Anton";
    margin: 0%;
    font-size: 250%;
    white-space: nowrap;
    color: #849865;
  }

  .image-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 0%;
    align-items: start;
  }

  .item img {
    width: 100%;
    display: block;
  }

  .large {
    grid-row: span 2;
    margin-left: 5%;
    margin-top: 10%;
  }

  .top {
    margin-bottom: 15%; /* forskyder det øverste lidt opad */
    margin-right: 10%;
  }

  .bottom {
    margin-top: 15%; /* trækker det nederste lidt op mod toppen */
    margin-right: 10%;
    margin-bottom: 2%;
  }

  .large img {
    width: 90%;
  }

  .best_sellers img {
    width: 100%;
  }

  .best_sellers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
    margin: 2%;
    margin-top: 0%;
  }

  .overskrift_best {
    margin-left: 2%;
    margin-bottom: 1%;
    line-height: 110%;
    margin-top: 0%;
  }

  .hvorfor {
    background-color: #aec6d0;
    margin-top: 10%;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
  }

  h2 {
    font-family: "Anton";
    color: #f3f0e8;
    font-size: 230%;
    margin-bottom: 0%;
  }

  .hvorfor p {
    font-family: "Inter";
    color: #f3f0e8;
    font-weight: 600;
  }

  .brugt_tekstil img {
    width: 90%;
    margin-bottom: 10%;
  }

  .brugt_tekstil h1 {
    line-height: 110%;
    margin-left: 2%;
    margin-bottom: 0;
  }

  @media (min-width: 825px) {
    .upcycled {
      font-size: 2310%;
      font-family: "Anton";
      margin-bottom: -8%;
    }

    .tekst_grid {
      margin-top: 0%;
      margin-left: 2%;
      margin-right: 2%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5%;
    }

    .tekst_grid p {
      font-family: "Inter";
      font-weight: 600;
      font-size: 180%;
    }

    .tekst_grid h2 {
      font-family: "Anton";
      margin: 0%;
      font-size: 800%;
      white-space: nowrap;
      color: #849865;
    }

    .image-grid {
      margin-top: 8%;
    }

    h1 {
      font-size: 1000%;
    }

    h2 {
      font-size: 700%;

      margin: 0%;
    }

    .hvorfor p {
      font-weight: 600;
      font-size: 200%;
    }
  }
</style>
